@import "src/styles/abstract/mixins";

.btn, .btn-lg {
  @include paragraph-2-regular();
  line-height: unset;
}

.btn-sm {
  @include paragraph-4-regular();
}

.btn-md {
  @include paragraph-3-regular();
}

.btn-round {
  aspect-ratio: 1 / 1;
  padding: $spacing-8;
  border-radius: 50%;

  &:hover, &:focus-visible {
    background-color: $grayscale-10;
  }

  &.btn-list-view {
    width: $spacing-40;
    padding: 0;
  }
}