@import "src/styles/abstract/colors";
@import "src/styles/abstract/variables";
@import "src/styles/abstract/mixins";

.chip {
	padding: $spacing-4 $spacing-8;
	background-color: $grayscale-80;
	color: $white;
	border-radius: 10px;
	width: max-content;
}