@import "src/styles/abstract/colors";
@import "src/styles/abstract/variables";
@import "src/styles/abstract/mixins";

.dropdown-toggle {
	&, &::after, &:hover, &:active {
		all: initial;
	}
	
	&.btn {
		&.show, &:active {
			background-color: $white;
		}
	}

	cursor: pointer !important;
}

.dropdown-item {
	padding: 0;

	> *:not(hr) {
		display: flex;
		gap: $spacing-8;
		padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
	}
}

.dropdown-divider {
	background: $grayscale-30;
	height: 1px;
}

.dropdown-menu {
	&.light {
		background-color: $white;

		hr {
			background: $grayscale-30;
			height: 1px;
		}
		
		.dropdown-item {
			@include paragraph-2-regular();
			color: $black;

			&:hover {
				background-color: $grayscale-10;
			}

			&:focus {
				background-color: $grayscale-20;
			}
		}
	}

	&:not(.light) {
		background-color: $black;

		>hr {
			background: $grayscale-70;
		}
		
		.dropdown-item {
			@include paragraph-2-regular();
			color: $white;

			&:hover {
				background-color: $grayscale-20;
			}

			&:focus {
				background-color: $grayscale-10;
			}
		}
	}
}