@import "src/styles/abstract/mixins";
@import "src/styles/abstract/variables";

.form-label {
  @include label();
  color: $grayscale-50;

  margin-bottom: $spacing-4;
}

.form-control {
  @include paragraph-4-regular();

  &:focus {
    box-shadow: 0 0 0 1px rgba(13,110,253,.25);
  }
}