@import "src/styles/abstract/mixins";
@import "src/styles/abstract/colors";

.form-select {
  &, &:focus {
		@include paragraph-4-regular();
		background-color: transparent;
	}

  &:focus {
    box-shadow: 0 0 0 1px rgba(13,110,253,.25);
  }

	option {
		background-color: $white;
	}
}