$grayscale-100: var(--grayscale-100);
$grayscale-90: var(--grayscale-90);
$grayscale-80: var(--grayscale-80);
$grayscale-70: var(--grayscale-70);
$grayscale-60: var(--grayscale-60);
$grayscale-50: var(--grayscale-50);
$grayscale-40: var(--grayscale-40);
$grayscale-30: var(--grayscale-30);
$grayscale-20: var(--grayscale-20);
$grayscale-15: var(--grayscale-15);
$grayscale-10: var(--grayscale-10);
$grayscale-5: var(--grayscale-5);
$white: var(--white);
$black: var(--black);

$brand-primary-main: var(--brand-primary-main);
$brand-secondary-main: var(--brand-secondary-main);


$text-color-primary: $black;
$text-color-secondary: $grayscale-60;