@import "src/styles/abstract/colors";

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 10px solid $grayscale-15;
  border-top: 10px solid $black;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}