@import "src/styles/abstract/variables";
@import "src/styles/abstract/mixins";

.loginWrapper {
  &__facebookLogin {
    >img {
      width: $spacing-24;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }

    >span {
      @include paragraph-3-regular();
      margin-left: $spacing-16;
    }
  }

  &__userInfo {
    display: flex;
    gap: $spacing-16;
    align-items: center;

    >span {
      @include paragraph-3-regular();

			@media (max-width: 600px) {
				display: none;
			}
    }

		.dropdown {
			&__username {
				display: none;

				span {
					@include paragraph-2-semi-bold();
				}

				@media (max-width: 600px) {
					display: initial;
				}
			}
		}
  }
}