@import "src/styles/abstract/variables";

.container {
  .content {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
  
    >* {
      max-width: auto;
      flex-grow: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-16;

    button {
      height: max-content;
    }
  }
}