@import "src/styles/abstract/variables";
@import "src/styles/abstract/mixins";

.container {
  &__wrapper {
    display: flex;
    gap: $spacing-16;
    justify-content: space-between;
    align-items: center;

    .text {
      @include paragraph-2-regular();
    }
  }
}