@import "src/styles/abstract/variables";
@import "src/styles/abstract/mixins";

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-left: $spacing-12 !important;

  &__avatar {
    width: $spacing-32;
  }

  &__name {
    height: max-content;
    align-self: center;

    @include text-overflow(1);
  }
}