@import "src/styles/abstract/variables";

.loginWrapper {
  &__facebookLogin {
    >img {
      width: $spacing-24;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }

    >span {
      margin-left: $spacing-16;
    }
  }

  &__userInfo {
    display: flex;
    gap: $spacing-16;
    align-items: center;
    
    img {
      border-radius: 50%;
      width: $spacing-40;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }
}