@import "src/styles/abstract/mixins";
@import "src/styles/abstract/variables";
@import "src/styles/abstract/colors";

.header {
  display: flex;
  justify-content: space-between;
  padding: $spacing-16;

  &__logo {

  }

  &__login {
    
  }
}