@import "src/styles/abstract/variables";
@import "src/styles/abstract/colors";
@import "src/styles/abstract/mixins";

.container {
	display: grid;
	grid-template-columns: 1fr auto;

	.loading {
		opacity: 0.3;
		color: $grayscale-70;
	}
	
	.column {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: $spacing-12;

		&__avatar {
			width: $spacing-40;
		}
		
		.wrapper {
			display: flex;
			gap: $spacing-2;
			flex-direction: column;
		
			&__top {
				.username {
					@include paragraph-2-semi-bold();
				}
		
				.date {
					@include paragraph-4-regular();
				}

				.edited {
					@include paragraph-4-regular();
					font-style: italic;
				}
			}
		
			&__comment {
				@include paragraph-2-regular();
		
				p {
					word-break: break-word;
				}
			}
		}
	}

	.toggle {
		width: 36px;
		height: 36px;
		font-size: $spacing-12;
	}
}