.container {
  position: relative;
}

.container video {
  width: 100%;
  aspect-ratio: 16 / 9;
  -o-object-fit: fill;
     object-fit: fill;
  pointer-events: none;
}

.container .ui {
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.container .ui:hover, .container .ui.paused {
  opacity: 1;
}

.container .ui.loading {
  opacity: 1;
}

.container .ui.loading:not(:hover) > *:not(.loader), .container .ui.loading:not(.paused) > *:not(.loader) {
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.container .ui .clickable {
  position: absolute;
  inset: 0;
  bottom: calc(var(--controls-height));
}

.container .ui .loader {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .ui .time__simplified {
  position: absolute;
  inset: 0;
  top: calc(100% - var(--controls-height) - 20px);
  left: calc(var(--side-margin) + 5px);
  color: white;
  -webkit-filter: drop-shadow(0px 0px 2px black);
          filter: drop-shadow(0px 0px 2px black);
  font-size: 0.75rem;
}

.container .ui .timeline__wrapper {
  position: absolute;
  inset: 0;
  top: calc(100% - var(--controls-height));
}

.container .ui .timeline__wrapper .timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 3px;
  width: calc(100% - var(--side-margin) * 2);
  margin: 0 var(--side-margin);
  position: relative;
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.container .ui .timeline__wrapper .timeline .info {
  position: absolute;
  top: -28px;
  display: none;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 5px black);
          filter: drop-shadow(0px 0px 5px black);
}

.container .ui .timeline__wrapper .timeline .thumb {
  width: 5px;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

.container .ui .timeline__wrapper .timeline:hover, .container .ui .timeline__wrapper .timeline.scrubbing {
  height: 5px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.container .ui .timeline__wrapper .timeline:hover .info, .container .ui .timeline__wrapper .timeline.scrubbing .info {
  display: initial;
  right: calc(100% - var(--progress-position) * 100%);
  translate: 50%;
}

.container .ui .timeline__wrapper .timeline:hover .thumb, .container .ui .timeline__wrapper .timeline.scrubbing .thumb {
  position: absolute;
  -webkit-transform: translate(50%, calc(-50% + 3px));
          transform: translate(50%, calc(-50% + 3px));
  right: calc(100% - var(--progress-position) * 100%);
  width: 15px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: red;
}

.container .ui .timeline__wrapper .timeline::after, .container .ui .timeline__wrapper .timeline::before {
  content: "";
  position: absolute;
  inset: 0;
}

.container .ui .timeline__wrapper .timeline::before {
  right: calc(100% - var(--buffered-position) * 100%);
  background-color: lightgray;
}

.container .ui .timeline__wrapper .timeline::after {
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
}

.container .ui .simplified-controls, .container .ui .controls {
  color: white;
}

.container .ui .simplified-controls button, .container .ui .controls button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: .85;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.container .ui .simplified-controls svg, .container .ui .simplified-controls span, .container .ui .controls svg, .container .ui .controls span {
  -webkit-filter: drop-shadow(0px 0px 5px black);
          filter: drop-shadow(0px 0px 5px black);
}

.container .ui .simplified-controls {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: black;
  opacity: 0.5;
  height: 30px;
}

.container .ui .simplified-controls .volume .mute .volume-high-icon,
.container .ui .simplified-controls .volume .mute .volume-low-icon,
.container .ui .simplified-controls .volume .mute .volume-muted-icon {
  display: none;
}

.container .ui .simplified-controls .volume .mute .volume-high-icon.visible,
.container .ui .simplified-controls .volume .mute .volume-low-icon.visible,
.container .ui .simplified-controls .volume .mute .volume-muted-icon.visible {
  display: initial;
}

.container .ui .controls {
  position: absolute;
  inset: 0;
  top: calc(100% - var(--controls-height));
  margin: 0 calc(var(--side-margin) * 1.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .ui .controls .left,
.container .ui .controls .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: var(--side-margin);
}

.container .ui .controls .left .play-pause-btn .play-icon,
.container .ui .controls .left .play-pause-btn .pause-icon {
  display: none;
}

.container .ui .controls .left .play-pause-btn .play-icon.visible,
.container .ui .controls .left .play-pause-btn .pause-icon.visible {
  display: initial;
}

.container .ui .controls .left .volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .ui .controls .left .volume .mute .volume-high-icon,
.container .ui .controls .left .volume .mute .volume-low-icon,
.container .ui .controls .left .volume .mute .volume-muted-icon {
  display: none;
}

.container .ui .controls .left .volume .mute .volume-high-icon.visible,
.container .ui .controls .left .volume .mute .volume-low-icon.visible,
.container .ui .controls .left .volume .mute .volume-muted-icon.visible {
  display: initial;
}

.container .ui .controls .left .volume .range {
  opacity: 0;
  width: 0;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

.container .ui .controls .left .volume .range .slider {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.container .ui .controls .left .volume .range .slider::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000;
          box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

.container .ui .controls .left .volume .range .slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress) * 100% + 10.5% * var(--progress));
  background-color: red;
}

.container .ui .controls .left .volume .range .slider::-webkit-slider-runnable-track {
  max-width: 150px;
  height: 5px;
  background: white;
  border: none;
  border-radius: 3px;
}

.container .ui .controls .left .volume:hover .range {
  opacity: 1;
  width: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .ui .controls .left .time .text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .ui .controls .right .resolution .toggle .selected {
  background-color: gray;
}

.container .ui .controls .right .resolution .toggle > button::after {
  display: none;
}

.container .ui .controls .right .resolution .toggle > div {
  max-height: 200px;
  overflow-y: auto;
  background-color: black;
  opacity: 0.7;
}

.container .ui .controls .right .resolution .toggle > div > hr {
  background: white;
}

.container .ui .controls .right .resolution .toggle > div > a {
  color: white;
}

.container .ui .controls .right .resolution .toggle > div > a:hover {
  background-color: gray;
}

.container .ui .controls .right .resolution .toggle > div > a:focus {
  background-color: lightgray;
}

.container .ui .controls .right .speed .toggle .selected {
  background-color: gray;
}

.container .ui .controls .right .speed .toggle > button::after {
  display: none;
}

.container .ui .controls .right .speed .toggle > div {
  max-height: 200px;
  overflow-y: auto;
  background-color: black;
  opacity: 0.7;
}

.container .ui .controls .right .speed .toggle > div > a {
  color: white;
}

.container .ui .controls .right .speed .toggle > div > a:hover {
  background-color: gray;
}

.container .ui .controls .right .speed .toggle > div > a:focus {
  background-color: lightgray;
}

.container .ui .controls .right .full-screen-btn .open, .container .ui .controls .right .full-screen-btn .close {
  display: none;
}

.container .ui .controls .right .full-screen-btn .open.visible, .container .ui .controls .right .full-screen-btn .close.visible {
  display: initial;
}

.metrics {
  max-height: 500px;
}
/*# sourceMappingURL=video-player.module.css.map */