@import "src/styles/abstract/variables";
@import "src/styles/abstract/mixins";

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;

  &__textarea:not(#\9) {
    min-height: 100px;
  }

  &__progress {
    p {
      @include paragraph-4-regular();
    }
  }
}