@import "src/styles/abstract/variables";
@import "src/styles/abstract/colors";
@import "src/styles/abstract/mixins";

.container {
	display: flex;
	gap: $spacing-8;
	flex-direction: column;

	.wrapper {
		display: flex;
		gap: $spacing-16;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		@container (max-width: 750px) {
			display: grid;
			grid-template-columns: 1fr;

			.right {
				div {
					flex: 3;
				}

				button {
					flex: 1;
				}
			}
		}

		.left {
			display: flex;
			gap: $spacing-24;
			flex-direction: row;

			.username {
				@include paragraph-1-semi-bold();
			}
		}

		.right {
			display: flex;
			gap: $spacing-16;
		}
	}
}