@import "src/styles/abstract/mixins";
@import "src/styles/abstract/variables";
@import "src/styles/abstract/colors";

.link {
	container-type: inline-size;

  .container {
		display: flex;
		flex-direction: column;
		gap: $spacing-8;

    position: relative;
    width: 100%;
  
    &__thumb {
			width: 100%;
			aspect-ratio: 16/9;
			background-color: $grayscale-30;
      border-radius: 10px;
      transition: border-radius 350ms ease-in-out;

      box-shadow: 0 0 1px black;
    }
  
    &:hover {
      .container__thumb {
        border-radius: inherit;
      }
    }

		&__info {
			display: flex;
			flex-direction: column;
			gap: $spacing-8;
		}
  
    &__title {
      max-width: 100%;

			.text {
				@include text-overflow(2);
				@include paragraph-3-semi-bold();
				line-height: 1.25;

				word-break: normal;
			}
    }
  
    &__stats {
			display: flex;
			gap: $spacing-4;
			flex-wrap: wrap;

			.text {
				@include paragraph-4-regular();
				line-height: 1.25;
			}
		}

		&__additional {
			display: none;

			.text {
				@include text-overflow(4);
				@include paragraph-4-regular();
				line-height: 1.25;

				word-break: normal;
			}
    }
  }

	.seperator {
		&::before {
			content: "•";
			display: block;
			align-self: center;
			margin-top: -5px;
		}
	}
}

@container (min-width: 90cqw) {
	@container (min-width: 500px) {
		.link {
			.container {
				flex-direction: row;
				gap: $spacing-16;
	
				&__thumb {
					max-width: 300px;
				}

				&__additional {
					display: initial;
				}
			}
		}
	}
}