@import "src/styles/abstract/variables";

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: $header-height;

  &.breakpoint {
    grid-template-columns: 1fr;

    .container__sidebar {
      position: fixed;
      height: 100dvh;
      top: 0;
    }
  }

  main {
    margin: $spacing-16;
		margin-bottom: $spacing-32;

    @media (max-width: 600px) {
      margin: $spacing-8;
      margin-bottom: $spacing-24;
    }

    .pageWrapper {
      display: flex;
      justify-content: center;
      
      &__container {
        flex: 1;
      }
    }
  }

  &__sidebar {
    position: sticky;
    top: $header-height;
    z-index: 11;

    > *:not(#\9) {
      height: 100%;
    }

    height: calc(100dvh - $header-height);

    &__breakpoint {
      position: absolute;
    }
  }
}