@import "src/styles/abstract/variables";
@import "src/styles/abstract/colors";
@import "src/styles/abstract/mixins";

.wrapper {
	@include paragraph-2-regular();

	background-color: $grayscale-10;
	border-radius: $spacing-10;
	padding: $spacing-8;

	.details {
		display: flex;
		gap: $spacing-12;
		align-items: center;
		flex-wrap: wrap;

		margin-bottom: $spacing-8;
	}

	.description {
		overflow: hidden;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			height: calc(1.25em * var(--line-height));
			width: 100%;
			bottom: 0;
			pointer-events: none;
			background: linear-gradient(to bottom, transparent, $grayscale-10);
		}
	}

	.descriptionExpandBtn:not([role=separator]) {
		@include paragraph-2-semi-bold();
		appearance: none;
		padding: $spacing-4;
		margin-left: $spacing-4;

		&.hide {
			display: none;
		}

		&:checked {
			margin-top: $spacing-16;
		}
	}
}